
table.cache-browser.summary th:nth-child(2),
table.cache-browser.summary th:nth-child(3),
table.cache-browser.summary td:nth-child(2),
table.cache-browser.summary td:nth-child(3) {
  text-align: right;
}

table.cache-browser.summary tr.pending td,
table.cache-browser.summary tr.empty td {
    color: #ccc;
}

table.cache-browser.browser td {
  vertical-align: top;
}
table.cache-browser.browser td:nth-child(1),
table.cache-browser.browser td:nth-child(2) {
  width: 30%;
  overflow-wrap: anywhere
}
table.cache-browser.browser td:nth-child(2) pre {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  max-height: 3rem;
  overflow: clip;
}

table.cache-browser.browser th:nth-child(3),
table.cache-browser.browser th:nth-child(4),
table.cache-browser.browser td:nth-child(3),
table.cache-browser.browser td:nth-child(4){
  text-align: right;
}
